$tablet:768px;

.nav{
    height: 60px;
    background: white;
    box-shadow: 0 0 3px #ccc;
    border-bottom: 1px solid #d8d8d8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
    .tablet_menu_icon{
        transform: scale(1.2);
        cursor: pointer;
        display: none;
        @media (max-width:$tablet) {
            display: block;
        }
    }
    .logo_img{
        height: 50px;
        width: auto;
        margin: auto 10px;
        display: block;
        @media (max-width:$tablet) {
            display: none;
        }
    }
    .nav-bar{
        display: flex;
        font-family: open sans,sans-serif;
        text-rendering: optimizeLegibility;
        color: gray;
        font-size: 14px;
        .user_box{
            height: 100%;
            padding:0 10px;
            display: flex;
            align-items: end;
            @media (max-width:460px) {
                padding:0 5px;
            }
            cursor: pointer;
            &:hover{
                background: #EEEEEE;
            }
            .user_box_header{
                height: 100%;
                border: none;
                font-size: 14px;
                background: none;
                color: gray;
                &:focus, &:hover{
                    outline: none;
                    box-shadow: none;
                }
                img{
                    width: 35px;
                    height: 35px;
                    border-radius: 50%;
                }
            }
            .user_box_menu{
                background: white;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                font-size: 12px;
                a{
                    display: flex;
                    align-items: center;
                }
                .profile_icon{
                    font-size: 20px;
                }
            }
        }
        .logout_box{
            padding: 10px;
            height: 100%;
            display: flex;
            align-items: center;
            cursor: pointer;
            &:hover{
                background: #EEEEEE;
            }
            .logout_icon{
                font-size: 17px;
                margin-right: 5px;
                color: black;
            }
        }
    }
}