$phone:500px;
$tablet:768px;

.orderList{
    width: 100%;
    .search_order{
        padding:20px;
        background: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        main{
            display: flex;
        align-items: center;
        }
        input{
            width: min(100% - 1rem, 250px);
            padding: 6px 30px 6px 12px;
        }
        .search_icon{
            margin-left: -30px;
        }
    }
}
.modal_header, .modal_body{
    padding: 20px 50px;
}
.modal_body{
    .customer_info{
        background: rgb(230, 229, 229);
        padding: 10px 10px 20px;
        border-bottom: 1px solid rgb(182, 174, 174);
    }
}

.alert_new_order{
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    min-width: 10px;
    background:#ff9800;
    border-radius: 12px;
    color: rgb(255, 255, 255);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75rem;
    line-height: 2;
    letter-spacing: 0.5px;
    min-width: 20px;
    padding: 0 8px;
    text-transform: capitalize;
}

.order_detail_img{
    width: 70px;
    height: 60px;
    margin-right: 20px;
    object-fit: contain;
}
