.employee{
    width: calc(100% - 256px);
    height: 100%;
    padding: 20px 40px;
    @media (max-width:768px) {
        padding: 10px 20px;
        width: 100%;
    }
    .staffNav{
        border-bottom: 1px solid grey;
        background: white;
        .input-group-text{
            padding-right: 6px;
            text-align: center;
        }
        @media (max-width:500px) {
            padding-inline: 0 !important;
            button{
                font-size: 12px;
                padding: 8px 5px !important;
                word-wrap: normal;
            }
            .input-group{
                width: 160px;
                input, .input-group-text{
                    font-size: 12px;
                }
            }
        }
    }
}
