.supplier{
    width: 80%;
    height: 100%;
    padding-block: 20px;
    @media (max-width:500px) {
        padding: 10px 20px;
        width: 100%;
    }
    .search_box{
        border-bottom: 1px solid grey;
        .input-group-text{
            padding-right: 6px;
            text-align: center;
        }
        @media (max-width:500px) {
            padding-inline: 0 !important;
            button{
                font-size: 12px;
                padding: 8px 5px !important;
                word-wrap: normal;
            }
            .input-group{
                width: 160px;
                input, .input-group-text{
                    font-size: 12px;
                }
            }
        }
    }
    .supplier_page{
        margin: 30px 0px 10px;
        @media (max-width:500px) {
            margin: 10px 0;
        }
        .supplier_table{
            list-style: none;
            padding: 0;
            margin: 0;
            .supplier_table_header{
                font-size: 20px;
                background: rgb(255, 255, 255);
                border-bottom: 3px solid rgb(0, 0, 0);
                .staff_list{
                    @media (max-width:500px) {
                        font-size: 13px;
                    }
                    border:none;
                }
                .supplier_list{
                    border: none;
                }
            }
            .supplier_list{
                width: 27%;
                padding: 10px 5px;
                font-size: 16px;
                display: flex;
                align-items: center;
                justify-content: center;
                &:first-child{ width: 7%;}
                &:last-child{ width: 12%;}
                .btn_view{
                    padding: 3px 5px;
                    display: grid;
                    place-items: center;
                    .edit_icon{
                        cursor: pointer;
                        transform: scale(0.8);
                    }
                }
                @media (max-width:768px) {
                    width: 25%;
                    &:last-child{
                        width: 18%;
                    }
                }
                @media (max-width:500px) {
                    padding: 7px 5px;
                    font-size: 12px;
                    .btn_view{
                        padding: 0;
                        width: 20px;
                        height: 20px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        .edit_icon{
                            transform: scale(0.6);
                        }
                    }
                }
            }
            .supplier_list_display{
                background: rgb(243, 243, 243);
                li:nth-child(even){
                    background: rgb(226, 224, 224);
                }
            }
        }
    }
}