$laptop:1024px;
$tablet:780px;
$phone:480px;

@mixin btn-border-drawing($color: #ccc, $hover: black, $width: 2px, $vertical: top, $horizontal: left, $duration: 0.25s) {
    box-shadow: inset 0 0 0 $width $color;
    color: $color;
    transition: color $duration $duration/3;
    position: relative;

    &::before,
    &::after {
        border: 0 solid transparent;
        box-sizing: border-box;
        content: '';
        pointer-events: none;
        position: absolute;
        width: 0; height: 0;
        
        #{$vertical}: 0; 
        #{$horizontal}: 0;
    }

    &::before {
        $h-side: if($horizontal == 'left', 'right', 'left');
        
        border-#{$vertical}-width: $width;
        border-#{$h-side}-width: $width;
    }

    &::after {
        $v-side: if($vertical == 'top', 'bottom', 'top');
        
        border-#{$v-side}-width: $width;
        border-#{$horizontal}-width: $width;
    }

    &:hover {
        color: $hover;
        
        &::before,
        &::after {
        border-color: $hover;
        transition: border-color 0s, width $duration, height $duration;
        width: 100%;
        height: 100%;
        }
        
        &::before { transition-delay: 0s, 0s, $duration; }
        
        &::after { transition-delay: 0s, $duration, 0s; }
    }
}  

.Hero{
    position: relative;
    width: 100%;
    height: calc(85vh - 100px);
    background: linear-gradient(to bottom right, #30545fa6, #30545fa6), url('../../img/lemon.jpg');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size:cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    @media (max-width:$tablet) {
        height:85vh;
    }
    .msg__hero{
        text-align: center;
        button{
            border: 8px solid white;
            background: none;
            color: white;
            font-size: 40px;
            margin-bottom: 20px;
            text-transform: uppercase;
            padding: 10px 30px;
            transition: all 0.5s ease;
            &:hover{
                box-shadow: inset 6.9em 0 0 0 #52ADBA;
            }
        }
        p{
            font-size: 20px;
        }
        h5{
            text-transform: uppercase;
            font-family: "Sledge Regular";
            font-size: 30px;
            letter-spacing: 3px;
        }
    }
}

.hero__tag{
    width: 70%;
    margin: -50px auto 50px;
    @media (max-width:$laptop) {
        width: 90%;
    }
    @media (max-width:$tablet) {
        margin: -50px auto 30px;
    }
    @media (max-width:$phone) {
        margin: -50px auto 20px;
    }
    .hero_msg_box{
        padding: 0 20px;
        z-index: 10 !important;
        @media (max-width:$laptop) {
            padding: 10px;
        }
        @media (max-width:$tablet) {
            &:last-child{
                .msg__tag{
                    min-height: 100px !important;
                    background: linear-gradient(#0596fd , #58d689);
                }
            }
        }
        @media (max-width:$phone) {
            &:first-child{
                .msg__tag{
                    min-height: 100px !important;
                    background: linear-gradient(#0596fd , #58d689);
                }
            }
        }
        .msg__tag{
            background: linear-gradient(#00d68f , #0596fd);
            min-height: 250px;
            color: white;
            padding: 15px 30px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            @media (max-width:$laptop) {
                padding: 10px 15px;
                h4{ font-size: 18px; }
                h5{ font-size: 16px; }
                p, li{ font-size: 14px; }
            }
            @media (max-width:$tablet) {
                min-height: 220px !important;
                li{ font-size: 13px; }
            }
            @media (max-width:$phone) {
                min-height: 100px !important;
            }
            .msg__tag_icon{
                transform: scale(1.4);
                margin-bottom: 20px;
                @media (max-width:$laptop) {
                    transform: scale(1.2);
                }
                @media (max-width:$phone) {
                    transform: scale(1);
                    margin-bottom: 10px;
                }
            }
            .btn__msg_redirect{
                @include btn-border-drawing(white, #ffe593, 2px, bottom, right);
                background: none;
                border: none;
                cursor: pointer;
                line-height: 1.5;
                padding: 5px 20px;
            }
            li{
                list-style: none;
                border-bottom: 1px solid white;
                text-align: left;
                margin-bottom: 10px;
            }
        }
    }
}

.popular__product{
    width: 100%;
    height: 400px;
    padding-top: 50px;
    background-color: #FAFAFA;
    border-top: 1px solid rgba(128, 128, 128, 0.288);
    overflow: hidden !important;
    @media (max-width:$tablet) {
        padding-top: 20px;
        height: auto;
    }
    h1{
        text-decoration: underline;
    }
    // carousel
    .carousel__item{
        padding: 20px;
        @media (max-width:$tablet) {
            padding: 20px 5px;
        }
        @media (max-width:$phone) {
            padding: 20px 10px;
        }
        .item_img_box{
            position: relative;
            width: 100%;
            height: 170px;
            background-size: cover;
            background-repeat: no-repeat;
            overflow: hidden;
            @media (max-width:$phone) {
                height: 100px;
            }
            &:hover{
                .btn_view_item{
                    transform: translateX(0);
                }
            }
            .btn_view_item{
                position: absolute;
                top: 60%;
                right: 0;
                background: rgba(255, 166, 0, 0.63);
                color: white;
                padding: 5px 10px;
                border: none;
                transform: translateX(100%);
                transition: transform 500ms ease;
                @media (max-width:$tablet) {
                   display: none;
                }
                .eye_icon{
                    transform: scale(0.7)
                }
                &:hover{
                    color: black;
                }
            }
        }
        .item_info_box{
            display: flex;
            min-height: 60px;
            justify-content: space-around;
            padding: 0 10px;
            align-items: center;
            border: 1px solid rgb(175, 172, 172);
            @media (max-width:$tablet) {
                font-size: 14px;
            }
            @media (max-width:$phone) {
                font-size: 12px;
            }
        }
    }
}

.promo_hero_section{
    padding: 30px 0;
    display: flex;
    justify-content: space-around;
    column-gap: 50px;
    margin-bottom: 30px;
    @media (max-width:$laptop) {
        margin-bottom: 10px;
        column-gap: 30px;
    }
    @media (max-width:$tablet) {
       flex-direction: column;
       justify-content: center;
       align-items: center;
       margin-bottom: 0px;
       padding: 20px;
    }

    &:last-child{
        @media (max-width:$tablet) {
            flex-direction: column-reverse;
         }
    }
    img{
        width: 45%;
        height: 450px;
        object-fit: cover;
        @media (max-width:$tablet) {
            width: 90%;
            height: 300px;
            margin-bottom:20px;
        }
        @media (max-width:$tablet) {
            width: 90%;
            height: 250px;
        }
    }
    .promo_description1{
        width: 55%;
        font-size: 20px;
        line-height: 2rem;
        font-family: 'News Cycle';
        font-style: italic;
        @media (max-width:$laptop) {
            font-size: 16px;
        }
        @media (max-width:$tablet) {
            width: 100%;
            text-align: justify;
            line-height: 1.4rem;
        }
        @media (max-width:$tablet) {
            font-size: 14px;
        }
    }
}

.product_types_section{
    background: linear-gradient(#58d68871, #58d68871), url('../../img/mainImg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    @media (max-width:$tablet) {
        height: 300px;
    }
    .medicine_type{
        width: 300px;
        height: 80%;
        background: rgba(255, 255, 255, 0.795);
        text-align: center;
        padding: 20px;
        @media (max-width:$tablet) {
            width: 40%;
            padding: 10px;
            height: auto;
            h5{
                font-size: 14px;
                margin-bottom: 10px;
            }
        }
        @media (max-width:$phone) {
            h5{
                height: 35px;
                font-size: 14px;
                margin-bottom: 10px;
            }
        }
        img{
            width: 100%;
            height: 70%;
            object-fit: cover;
            margin-bottom: 20px;
            @media (max-width:$tablet) {
                height: 50%;
            }
        }
        button{
            position: relative;
            background: none;
            border: 1px solid black;
            outline: none;
            width: 80%;
            cursor: pointer;
            line-height: 1.5;
            padding: 5px 20px;
            @media (max-width:$tablet) {
                padding: 5px 10px;
                font-size: 14px;
            }
            @media (max-width:$phone) {
                padding:0px;
                font-size: 12px;
            }
            &::before{
                content: '';
                position: absolute;
                bottom: 0px;
                left: 0;
                height: 2px;
                width: 100%;
                background: #006DCB;
                transform: scaleX(0);
                transition: transform 300ms ease-in-out;
            }
            &:focus, &:hover{
                &::before{
                    transform: scaleX(1);
                }
            }
        }
    }

}

.reviewers_section{
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
    background-color: #F2F2F2;
    padding: 40px 100px;
    h1{
        text-decoration: underline;
    }
    @media (max-width:$tablet) {
        height: 400px;
        padding: 20px;
    }
    @media (max-width:$phone) {
        height: auto;
    }
    .review_box_container{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        margin-top: 70px;
        @media (max-width:$tablet) {
            margin-top: 50px;
        }
        @media (max-width:$phone) {
            flex-direction: column;
            align-items: center;
            margin-top: 0;
        }
        .review_box{
            position: relative;
            width: 30%;
            height: 240px;
            padding: 50px 20px 20px;
            background: white;
            box-shadow:  0px 14px 25px -8px rgba(0,0,0,0.75);
            @media (max-width:$tablet) {
                height: 200px;
                padding: 35px 10px 10px;
            }
            @media (max-width:$phone) {
                width: 90%;
                margin-top: 45px;
                &:last-child{
                    margin-bottom: 30px;
                }
            }
            .review_user_icon_box{
                position: absolute;
                top: -35px;
                left: 50%;
                transform: translateX(-50%);
                width: 70px;
                height: 70px;
                display: grid;
                place-items: center;
                border-radius: 50%;
                background: #00d68f;
                box-shadow:  0px 14px 25px -8px rgba(0,0,0,0.75);
                @media (max-width:$tablet) {
                    box-shadow:  0px 14px 15px -8px rgba(0,0,0,0.75);
                    top: -25px;
                    width: 50px;
                    height: 50px;
                }
                .review_user_icon{
                    transform: scale(1.4);
                }
            }
            .review_userName{
                text-align: center;
                @media (max-width:$tablet) {
                    h5, p{
                        font-size: 16px;
                    }
                }
            }
            .review_msg{
                width: 100%;
                max-height: 110px;
                font-size: 17px;
                box-sizing: border-box;
                display: -webkit-box;
                text-align: justify;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                text-indent: 15px;
                @media (max-width:$tablet) {
                    font-size: 14px;
                    text-indent: 5px;
                }
            }
        }
    }
    .skew{
        position:absolute;
        bottom: -100%;
        left: 50%;
        width: 100%;
        height: 100%;
        transform: skewY(-5deg);
        background-color:rgb(58, 58, 58);
        transform-origin: top left; 
        @media (max-width:$phone) {
          display: none;
        }
    }
    .skew_two{
        position:absolute;
        bottom: -100%;
        right: 50%;
        width: 100%;
        height: 100%;
        transform: skewY(5deg);
        background-color:rgb(58, 58, 58);
        transform-origin: top right;  
        @media (max-width:$phone) {
            display: none;
        }
    }
}
.footer{
    height: auto;
    background-color:rgb(58, 58, 58);
    padding:45px 0 20px;
    font-size:16px;
    line-height:24px;
    color:#737373;
    h5{
        color: white;
        text-transform:uppercase;
        letter-spacing:2px;
        @media (max-width:$phone) {
            font-size: 15px;
        }
    }
    .footer__address, .footer__links{
        list-style: none;
        padding: 0;
        a{
            color: #737373;
            text-decoration: none;
        }
    }
}

@keyframes slide-in{
    0%{
        transform: translateX(-100px);
    }
    100%{
        transform: translateX(0);
    }
}