.homepage{
    height: 100%;
    padding: 10px 40px;
    width: calc(100vw - 280px);
    @media (max-width:890px) {
        padding: 10px;
        width: 100vw;
    }
}
.home_stats_item{
    display: flex;
    align-items: center;
    justify-content: space-between;
}