.sidebar{
    width: 20%;
    height: 100%;
    background: #353535;
    color: white;
    .sidebar_container{
        padding-block: 30px;
        img{
            width: 100%;
            height: 100px;
            object-fit: contain;
            border-bottom:  1px solid white;
        }
        .link_box{
            margin-block: 40px;
            font-family: "News Cycle";
            .nav_link{
                font-weight: bold;
                width: 100%;
                color: white;
                text-decoration: none;
                transition: all 0.3s linear;
                list-style: none;
                li{
                    border-radius: 5px;
                    margin-top: 25px;
                    padding: 10px 0;
                    text-align: center;
                    font-size: 20px;
                }
            }
            .nav_link.active{
                color: #5B96C0;
                li{
                    border-block: 1px solid #5B96C0;
                }
            }
        }
    }
}