.sidebar{
    width: 20%;
    height: 100%;
    background: #353535;
    color: white;
    .sidebar_container{
        padding-block: 30px;
        img{
            width: 100%;
            height: 100px;
            object-fit: contain;
            border-bottom:  1px solid white;
        }
        .link_box{
            margin-block: 40px;
            font-family: "News Cycle";
            .nav_link{
                font-weight: bold;
                width: 100%;
                color: white;
                text-decoration: none;
                transition: all 0.3s linear;
                list-style: none;
                li{
                    border-radius: 5px;
                    margin-top: 25px;
                    padding: 10px 0;
                    text-align: center;
                    font-size: 20px;
                    @media (max-width:1200px){
                        font-size: 16px;
                    }
                }
            }
            .nav_link.active{
                color: #5B96C0;
                li{
                    border-block: 1px solid #5B96C0;
                }
            }
        }
        .phone-menu-bar{
            display: none;
        }
    }
    @media (max-width:760px) {
        width: 100% !important;
        height: 60px;
        .sidebar_container{
            padding-block: 10px;
            display: flex;
            justify-content: space-between;
            img{
                height: 100%;
                width: auto;
                border: none;
            }
            .link_box{
                display: none;
            }
            .phone-menu-bar{
                display: grid;
                place-items: center;
                transform: scale(1.3);
            }
        }
    }
}
.phone_sidebar-links{
    .nav_link{ 
        color: black;
        li{
            list-style:none;
            border-radius: 5px;
            margin-top: 10px;
            padding: 10px 0;
            text-align: center;
            font-size: 15px;
        }
    }
    .nav_link.active{
        color: #228edc;
        li{
            border-block: 1px solid #5B96C0;
            font-weight: bold;
        }
    }
}
.btn-modal_close{
    position: absolute;
    top: 25px;
    right: 10px;
}