$laptop:1024px;
$tablet:768px;
$phone:500px;

.product{
    width: 100%;
    padding: 15px;
    @media (max-width:$phone) {
       padding: 0px;
       .card-body{
        padding: 16px 5px;
       }
    }
    .card-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid rgba(0,0,0,0.125);
        .list_icon{
            font-size: 18px;
        }
        .add_icon{
            padding: 6px;
            @media (max-width:$phone) {
                padding: 0;
                font-size: 12px;
            }
        }
    }
    .card-main{
        padding:0 10px;
        border: 1px solid rgba(0,0,0,0.125);
        border-bottom: none;
        .card-table-header{
            color: #1874B7;
            font-weight: bold;
        }
        .card-table-cell{
            display: flex;
            align-items: center;
            padding: 10px 20px ;
            border-bottom: 1px solid rgba(0,0,0,0.125);
            border-right: 1px solid rgba(0,0,0,0.125);
            @media (max-width:$laptop) {
                padding: 10px;
            }
            @media (max-width:$tablet) {
                font-size: 14px;
            }
            @media (max-width:$phone) {
                padding: 5px;
                font-size: 12px;
            }
            &:last-child{
                border-right: none;
            }
            img{
                height: 40px;
                width: 100%;
                object-fit: contain;
            }
            .card_table_icon{
                padding: 3px 7px;
                @media (max-width:$phone) {
                    width: 20px;
                    height: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    svg{
                        transform: scale(0.8);
                    }
                }
                svg{
                    font-size: 20px;
                }
            }
        }
    }
}
.modal{
    padding: 0px !important;
}