$tablet:768px;
$phone:500px;

.product{
    width: calc(100% - 260px);
    padding: 15px;
    border: 1px solid ;
    @media (max-width:$tablet) {
        width: 100%;
    }
    .card-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .list_icon{
            font-size: 18px;
        }
        .add_icon{
            padding: 6px;
            @media (max-width:$phone) {
                padding: 0;
                font-size: 12px;
            }
        }
    }
    .card-main{
        padding:0 10px;
        border: 1px solid rgba(0,0,0,0.125);
        border-bottom: none;
        .card-table-header{
            color: #1874B7;
            font-weight: bold;
        }
        .card-table-cell{
            display: flex;
            align-items: center;
            padding: 10px 20px;
            border-bottom: 1px solid rgba(0,0,0,0.125);
            border-right: 1px solid rgba(0,0,0,0.125);
            @media (max-width:$phone) {
                padding: 10px;
                font-size: 14px;
            }
            &:last-child{
                border-right: none;
            }
            .card_table_icon{
                padding: 3px 7px;
                @media (max-width:$phone) {
                    padding: 0px 3px;
                    svg{
                        font-size: 14px;
                    }
                }
                svg{
                    font-size: 20px;
                }
            }
        }
    }
}
.modal{
    padding: 0px !important;
}