$laptop:1020px;
$tablet:768px;
$phone:480px;

.product_detail_page{
    width: min(100% - 2rem, 1400px);
    margin-inline: auto;
    margin-block: 20px;
    @media (max-width:$phone) {
        width: 100%;
        margin-block: 10px;
        padding-inline: 10px;
    }
    .product__box{
        width: 100%;
        display: flex;
        border-bottom: 1px solid rgb(200, 195, 195);
        margin: 10px 0 !important;
        @media (max-width:$phone) {
            border-bottom: none;
        }
        .product_img_magnify{
            position: relative;
            .product_img_box{
                text-align: center;
                position: sticky;
                top: 40px;
                width: 100%;
                height: auto;
                margin-bottom: 20px;
                img{
                    margin-top: 40px;
                    width: 90%;
                    max-height: 90%;
                    // aspect-ratio: 5 / 6 !important;
                    background: green;
                    @media (max-width:$tablet) {
                        width: 100%;
                    }
                }
                .img_msg{
                    font-size: 14px;
                }
            }
        }
        .product__info__box{
            padding: 10px 30px;
            @media (max-width:$tablet) {
                padding: 10px 15px;
            }
            @media (max-width:$phone) {
                padding: 5px;
            }
            h3{
                padding-bottom: 10px;
                text-size-adjust: 80%;
                border-bottom: 1px solid rgb(195, 194, 194);
                @media (max-width:$laptop) {
                    font-size: 20px;
                }
            }
            .product_list_box, .product_price_box{
                display: flex;
                @media (max-width:$phone) {
                   display: block;
                }
            }
            .product_price_box, .product_list_box, .product_description_box, .product_rating_box{
                text-transform: capitalize;
                font-size: 20px;
                margin-bottom: 20px;
                label{
                    width: 120px;
                    @media (max-width:$tablet) {
                        width: 80px;
                    }
                    @media (max-width:$phone) {
                        width: 100%;
                    }
                }
                .space_indent{
                    @media (max-width:$phone) {
                        width: 100%;
                        text-indent: 15px;
                    }
                }
                @media (max-width:$laptop) {
                    font-size: 16px;
                }
                @media (max-width:$phone) {
                    margin-bottom: 10px;
                    font-size: 15px;
                }
            }
            .product_price_box{
                span{
                    color: rgb(163, 14, 14);
                    font-size: 24px;
                    font-weight: bold;
                    @media (max-width:$laptop) {
                        font-size: 18px;
                    }
                    @media (max-width:$phone) {
                       text-indent: 20px;
                    }
                }
            }
            .product_description_box{
                p{
                    position: relative;
                    padding-left: 10px;
                    font-size: 18px;
                    text-indent: 15px;
                    color:grey;
                    text-align: justify;
                    width: 100%;
                    height: auto;

                    box-sizing: border-box;
                    // display: -webkit-box;
                    -webkit-line-clamp: 4;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis; 
                    text-transform: capitalize;
                    margin-bottom: 0;
                    @media (max-width:$laptop) {
                        font-size: 15px;
                    }
                    @media (max-width:$phone) {
                        font-size: 14px;
                    }
                }
                span{
                    padding-left: 10px;
                    font-size: 15px;
                    color: rgb(42, 77, 202);
                    cursor: pointer;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
            .product_rating_box{
                p{
                    padding-left: 10px;
                    font-size: 18px;
                    text-indent: 15px;
                    color:grey;
                    text-align: justify;
                    @media (max-width:$laptop) {
                        font-size: 15px;
                    }
                }
            }
            .product_amount_box{
                text-transform: capitalize;
                font-size: 20px;
                @media (max-width:$laptop) {
                    font-size: 16px;
                }
            }
            .product_number_cart_box{
                display: flex;
                align-items: center;
                font-size: 30px;
                @media (max-width:$tablet) {
                    font-size: 20px;
                }
                .item_counter_icon{
                    font-size: 30px;
                    margin-inline: 70px;
                    color:rgb(43, 43, 43);
                    cursor: pointer;
                    @media (max-width:$tablet) {
                        margin-inline: 30px;
                        font-size: 20px;
                    }
                }
            }
        }
        .add_cart_box{
            position: sticky;
            top: 40px;
            border-radius: 10px;
            border: 1px solid rgb(200, 200, 200);
            text-align: center;
            padding: 20px;
            height: 100%;
            margin-block: 40px;
            @media (max-width:$laptop) {
                padding: 20px 5px;
            }
            @media (max-width:$phone) {
                padding:5px 5px 10px;
                margin-top: 20px;
                margin-bottom: 5px;
            }
            p{
                margin-bottom: 10px;
                font-size: 18px;
                @media (max-width:$laptop) {
                    font-size: 14px;
                }
                @media (max-width:$phone) {
                    font-size: 16px;
                }
            }
            button{
                width: 100%;
                border-radius: 50px;
                @media (max-width:$laptop) {
                    border-radius: 10px;
                    padding:5px 0;
                    width: 80%;
                    font-size: 14px;
                }
                @media (max-width:$phone) {
                    font-size: 16px;
                }
            }
        }
    }
}
.product_review_bg{
    height: 60vh;
    width: 100%;
    overflow: hidden;
    display: grid;
    place-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.05)), url('../../../img/about/aboutus.jpg') no-repeat left bottom;
    background-size: cover;
    @media (max-width:500px) {
       height: 90vh;
    }
    .review_box{
        width: 500px;
        .rating_box{
            transform:scale(1.5);
        }
        @media (max-width:500px) {
            .rating_box{
                transform:scale(1);
            }
            width: 90%;
        }
    }
}