$phone:480px;

.login_page{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, #27c6da, #5b6cc0);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 60;
    display: flex;
    align-items: center;
    justify-content: center;
    form{
        width: 500px;
        height: auto;
        background: rgba(255, 255, 255, 0.751);
        text-align: center;
        animation: fade-in 1s linear;
        @media (max-width:$phone) {
            width: 90%;
            background: rgba(255, 255, 255, 0.849);
        }
        label{
            float: left;
            padding-left: 10px;
            font-weight: bold;
            text-transform: capitalize;
            color: #006f7d;
        }
        input {
            font-size: 16px;
            font-weight: 500;
            padding: 4px 0;
            width: 100%;
            background:none;
            border: none;
            border-bottom: 2px solid #aab8df;
            transition: 500ms ease all;
            text-indent: 10px;
            &:focus{
                transition: 500ms ease all;
                outline: none;
                box-shadow: 0 1px 0 0 #0b73e9;
                border-color: rgb(167, 222, 245);
            }
            &::placeholder{
                color:rgb(145, 145, 145)
            }
        }
        h3{
            color: #3a99d0;
            text-transform: uppercase;
            font-weight: bold;
            margin-bottom: 20px;
        }
        p{
            color: rgb(8, 44, 7);
            margin-top: 20px;
            margin-bottom: 0px;
            cursor: pointer;
            &:hover{
                text-decoration: underline;
                color: rgb(127, 30, 218);
            }
        }
        .login_input_field{
            row-gap:25px;
        }
        .sign_btn_group{
            gap:20px;
            margin-top: 30px;
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
    }
}

@keyframes fade-in {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
