$laptop:1024px;
$tablet: 800px;
$phone:500px;

.cart_page{
    width: 100%;
    min-height: calc(100vh - 100px);
    background: linear-gradient(to right, #3ee4ac , #5B96C0);
}
.cart_list_box{
    border-right: 1px solid grey;
    @media (max-width:$tablet) {
        border-right: none;
    }
    .cart_page_title{
        margin-bottom: 20px;
        align-items: center;
        border-bottom: 1px solid rgb(34, 33, 33);
    }
    ul{
        margin: 0;
        padding: 0;
        list-style: none;
        li{
            position: relative;
            border-bottom: 1px solid grey;
            padding: 10px 10px;
            background: linear-gradient(to right, #ffffffc4 , rgb(224, 253, 251));
            border-radius: 5px;
            margin-bottom: 20px;
            .del_list_btn{
                position: absolute;
                top: 0;
                right: 0;
                border: 0;
                background: none;
                font-size: 30px;
                padding: 0;
                margin: 0;
                color: rgb(245, 121, 121);
                cursor: pointer;
                &:hover{
                    font-weight: bold;
                }
            }
            img{
                width: 25%;
                height: 130px;
                background: white;
                object-fit: contain;
                box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
                border-radius: 5px;
                @media (max-width:$phone) {
                    height: 100px;
                }
            }
            .cart_item_info{
                display: flex;
                justify-content: space-around;
                width: 100%;
                margin-left: 30px;
                @media (max-width:$phone) {
                    margin-left:20px;
                }
                .cart_item_name{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                    h3{
                        font-size: 24px;
                        @media (max-width:$laptop) {
                            font-size: 22px ;
                        }
                        @media (max-width:$tablet) {
                            font-size: 18px;
                            text-align: center;
                        }
                        @media (max-width:$phone) {
                            font-size:16px;
                        }
                    }
                    button{
                        width: 100px;
                        @media (max-width:$tablet) {
                           padding: 0px 10px;
                        }
                        @media (max-width:$phone) {
                            font-size:14px;
                            width: 40%;
                            padding: 0;
                        }
                    }
                }
                .cart_item_price{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    h3{
                        text-align: center;
                        @media (max-width:$phone) {
                            font-size: 18px;
                        }
                    }
                    .cart_item_counter{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        font-size: 30px;
                        width: 200px;
                        @media (max-width:$laptop) {
                            font-size: 25px;
                            width: 100px;
                        }
                        @media (max-width:$tablet) {
                            font-size: 18px;
                            justify-content: center;
                            width: 100%;
                        }
                        .item_counter_icon{
                            color: rgb(106, 111, 106);
                            font-size: 40px;
                            cursor: pointer;
                            @media (max-width:$laptop) {
                                font-size: 30px;
                            }
                            @media (max-width:$tablet) {
                                font-size: 20px;
                                margin: 0 20px;
                            }
                            @media (max-width:$phone) {
                                font-size: 20px;
                                margin: 0 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}
.total_checkout_box{
    position: sticky;
    top:40px;
    padding: 20px;
    margin-top: 40px;
    background: rgb(233, 188, 8);
    h3{
        width: 100%;
        border-bottom: 1px solid black;
    }
    ul{
        margin: 0;
        padding: 0;
        list-style: none;
        li{
            display: flex;
            border-bottom: 1px solid rgba(0, 0, 0, 0.444);
            margin-bottom: 10px;
            font-size: 15px;
            span{
                width: 20%;
                text-align: center;
                &:first-child{
                    width: 40%;
                }
            }
        }
    }
    .total_checkout_btn{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
}