$tablet: 800px;
$phone:500px;

.orderList{
    width: min(100% - 1rem, 1200px);
    height: 500px;
    margin: 30px auto 20px;
    @media (max-width:$phone) {
        margin: 15px auto 20px;
    }
    .order_search_section{
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid grey;
        h1{
            @media (max-width:$phone) {
                font-size: 16px;
            }
        }
        input{
            margin-inline: 10px;
            @media (max-width:$phone) {
                font-size: 14px;
                width: 80px;
                margin-inline: 5px;
                padding: 3px 6px;
                margin-bottom: 5px;
            }
        }
    }
}

.MuiTablePagination-toolbar{
    p{
        margin: 0 !important;
    }
}

.order_detail_img{
    width: 70px;
    height: 60px;
    margin-right: 20px;
    object-fit: contain;
}

.non_user_page{
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    text-align: center;
}
.modal_view{
    min-width: 90% !important;
}