.sidebar{
    width: 260px;
    height: 100%;
    background: #242D37;
    color: white;
    .sidebar_container{
        padding-block: 20px;
        height: 100%;
        img{
            width: 100%;
            height: 100px;
            object-fit: contain;
            border-bottom:  1px solid white;
        }
        .link_box{
            .menu_link{
                .primary_menu{
                    position: relative;
                    list-style: none;
                    color: #b3cbdd;
                    border-bottom: 1px solid #303d4a;
                    padding: 10px 25px;
                    font-size: 14px;
                    display: flex;
                    justify-content: space-between;
                    cursor: pointer;
                    &:hover{
                        background: #1b2127d0;
                    }
                    &:first-child{
                        border-top: 1px solid #303d4a;
                    }
                    .link_left, .link_right{
                        display: flex;
                        align-items: center;
                        .link_icon{
                            font-size: 16px;
                        }
                    }
                    .menu_icon{
                        transform: scale(0.8);
                    }
                    .badge_alert{
                        position: absolute;
                        top: 50%;
                        right:20%;
                        transform: translate(-20%, -50%);
                    }
                }
                .submenu{
                    background-color: #293141;
                    overflow: hidden;
                    .submenu_link{
                        list-style: none;
                        color: #b3cbdd;
                        text-decoration: none;
                        li{
                            display: flex;
                            justify-content: space-between;
                            padding: 10px 30px 10px 50px;
                            transition: transform .3s ease-out;
                            &:hover{
                                color: white;
                                background-color: #242D37;
                                span{
                                    margin-left:7px;
                                }
                            }
                            span{
                                transition: margin .3s ease-out;
                                font-size: 14px;
                            }
                            .submenu_icon{
                                font-size: 18px;
                            }
                        }
                    }
                    .submenu_link.active{
                        li{
                            color: #1591CD;
                            background-color: #20272f;
                        }
                    }
                }
            }
            .menu_link.active{
                .primary_menu{ 
                    font-weight: bold;
                    color: #1591CD;
                    background-color: #1b2027;
                    .link_icon{
                        font-size: 16px;
                    }
                }
            }
        }
    }
}
.btn-modal_close{
    position: absolute;
    top: 25px;
    right: 10px;
}
