.customer_page{
    height: 100%;
    padding: 20px;
    width: 100%;
    @media (max-width:768px) {
        padding: 10px 20px;
    }
}
.MuiTablePagination-toolbar{
    p{
        margin-bottom: 0;
    }
}