$phone:480px;
$tablet:768px;

.payment_page{
    width: 80%;
    margin: 40px auto 0px;
    h2{
        border-bottom: 1px solid gray;
        padding-bottom: 10px;
    }
    @media (max-width:$tablet) {
        width: 100%;
        padding: 20px 12px;
    }
}
.payment_container{
    display: flex;
    padding: 30px;
    background: rgba(255, 255, 255, 0.84);
    @media (max-width:$tablet) {
        flex-direction: column;
        padding: 20px 12px;
    }
    .payment_stepper{
        width: 70%;
        @media (max-width:$tablet) {
            width: 100%;
        }
    }
}

.CC_form{
    .card_img__list{
        height: 50px;
        display: flex;
        justify-content: flex-start;
    }
    label{
        margin-bottom: 10px;
    }
}

.price_teller{
    position: relative;
    width: 30%;
    padding: 20px;
    @media (max-width:$tablet) {
        width: 100%;    
    }
    .payment__total{
        padding: 20px;
        text-align: center;
        position: sticky;
        top: 50px;
        background: rgb(255, 223, 96);
        font-size: 18px;
    }
}